@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@theme {
  --color-background: var(--background);
  --color-primaryText: var(--primaryText);
  --color-titleText: var(--titleText);
  --color-cardBackground: var(--cardBackground);
}

:root {
  --background: #000;
  --primaryText: #D1D5DB;
  --titleText: #fff;
  --cardBackground: #131313;
}

.light {
  --background: #ececec;
  --primaryText: #1a202c;
  --titleText: #000;
  --cardBackground: #e7e7e7;
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
    
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  .reveal {
    opacity: 0;
    transition: 1s;
  }

  .reveal-left {
    transform: translateX(-100px)
  }

  .reveal-right {
    transform: translateX(100px)
  }

  .reveal-top {
    transform: translateY(-40px)
  }

  .reveal-bottom {
    transform: translateY(40px)
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0px);
  }
}